* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #faedcd;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

label {
    font-size: 20px;
    color: #588157;
}

h1 {
    color: #fb8500;
    font-family: "Montserrat";
}

input, select {
    color: #588157;
}

button {
    margin-left: 110px;
    width: 100px;
    height: 40px;
    background-color: #283618;
    color: white;
    border-radius: 15px;
}

button:hover {
    background-color: #588157;
}

.error-firstname, .error-dropdown {
    color: red;
    font-size: large;
    right: 200px;
}